@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

//fonts
@import url('https://fonts.googleapis.com/css?family=Orbitron:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');


// fonts
$primary-font: 'Verdana', sans-serif;
$secondary-font: 'Orbitron', sans-serif;
$secondary-header-font: 'Yellowtail', serif;

/* -------------------------------- 

xColors

-------------------------------- */

@import "partials/colors";

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
  /* this is the page background */
  background-color: $color-5;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

@import "partials/branding";

/* -------------------------------- 

xNavigation 

-------------------------------- */

@import "partials/navigation";

/* -------------------------------- 

xTypography 

-------------------------------- */

@import "partials/typography";

/* -------------------------------- 

xButtons 

-------------------------------- */

@import "partials/buttons";

/* -------------------------------- 

xSide Bar Nav 

-------------------------------- */
.cd-navigation {
    .cd-box {
        background-color: $color-2
    }
    h3{
        font-family: $secondary-font;
        color: $color-5;
    }
    li a {
        font-family: $secondary-header-font;
        color: $color-1;
    }
}

@import 'partials/basic-style';
