// color palette - these colors will be the color swatches of the Colors section

$color-1: #f374e0; // pink
$color-2: #19191a; // dark blue
$color-3: #6a88a5; // blue
$color-4: #ccff00; // neon yellow
$color-5: #f8f8ff; // white
$color-6: #000; // black