header {
    width: 100%;
    background-image: url(../assets/ZenMockupTransL.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40vw;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    h1, h2 {
        display: none;
    }
    @include MQ(L) {
        height: 26vw;
    }
}

.intro {
    @include MQ(M) {
    grid-column: 2 / 10;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: min-content;
    max-width: 1020px;
    margin: 0 auto;
    }
}

.summary,
.preamble {
    font-size: 1rem;
    margin: auto;
}