// media queries
   
$S:     768px;   
$M:     1024px;     
$L:     1600px; 

@mixin MQ($canvas) {
    @if $canvas == S {
    @media only screen and (min-width: $S) { @content; } 
    }
    @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; } 
    }
    @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; } 
    }
}

// plain css

.page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

header {
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;

    @media screen and (min-width: $large-screen) {
        max-width: 992px;
    }
}

