// media queries
   
$S:     768px;   
$M:     1024px;     
$L:     1600px; 

@mixin MQ($canvas) {
    @if $canvas == S {
    @media only screen and (min-width: $S) { @content; } 
    }
    @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; } 
    }
    @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; } 
    }
}

// plain css

.page-wrapper {
    padding: 24px;
    display: grid;

    @include MQ(M) {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 20%);
    }
}



