// media queries
   
$S:     768px;   
$M:     1024px;     
$L:     1600px; 

@mixin MQ($canvas) {
    @if $canvas == S {
    @media only screen and (min-width: $S) { @content; } 
    }
    @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; } 
    }
    @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; } 
    }
}

// plain css
body {
    margin: 0;
    background-color: $color-6;
    background-image: radial-gradient($color-5, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient($color-5, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient($color-5, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.page-wrapper {
    padding: 24px;
    display: grid;

    @include MQ(M) {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(5, 20%);
        padding: 30px 50px;
        max-width: 1700px;
        margin: 0 auto;
    }
}


