.main {
    margin-top: 50px;
    div {
        margin-bottom: 50px;
    }
    @include MQ(M) {
    margin-top: 80px;
    div {
        margin-bottom: 80px;

        &:nth-child(odd) {
            h3 {
                text-align: left;
                float: left;
                padding-right: 24px;
                width: 25%;
            }
        }
        &:nth-child(even) {
            h3 {
                text-align: right;
                float: right;
                padding-left: 24px;
                width: 25%;
            }
        }
    }
}
}

.main {
    order: 2;
    @include MQ(M) {
    grid-column: 1 / 8;
    order: 1;
    }
}

.sidebar {
    order: 1;
    li {
        font-family: $primary-font;
    }
    @include MQ(M) {
    grid-column: 8 / 11;
    order: 2;
    padding-left: 30px;
    margin-top: 80px;
    }
}

footer {
    @include MQ(M) {
    grid-column: 3 / 9;
    grid-row: 4 / 5;
    }
}