.sidebar{
    .select{
        font-family: $primary-font;
    }
    
    .design-name{
        font-family: $secondary-font;
        color: $color-5;
    }

    .designer-name {
        font-family: $secondary-header-font;
        color: $color-1;
    }
}