h1,
h2,
h3 {
  font-family: $secondary-font;
  color: $color-4;
  text-align: center;
    
}

h1 {
    
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;

  @include MQ(S) {
    font-size: 3.2rem;
  }

  @include MQ(M) {
    font-size: 4rem;
  }
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;

    @include MQ(S) {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
 }
}

h3 {
  font-size: 1.5em;
}

.main h3 {
  position: relative;
  height: 4vw;
  text-shadow: 0px 0px 10px black;
}

.main h3::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -70%;
  left: -50%;
  z-index: -1;
  background: url('../assets/triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: .5;


  animation: triangleAngle 100s linear infinite;
}

.participation h3::before {
  @include MQ(M) {left: -25%;}

}

.requirements h3::before {
  @include MQ(M) {left: -25%;}
}

@keyframes triangleAngle {
  0% { transform: rotate(0deg) translatey(0vw) translatex(0vw); }
  25% { transform: rotate(90deg) translatey(1.8vw) translatex(1.5vw); }
  50% { transform: rotate(180deg) translatey(0vw) translatex(3.5vw); }
  75% { transform: rotate(270deg) translatey(-1.8vw) translatex(1.5vw); }
	100% { transform: rotate(360deg) translatey(0vw) translatex(0vw); }
}

p {
  font-size: 1rem;
  line-height: 1.4;
  color: lighten($color-2, 50%);
  font-family: $primary-font;

  @include MQ(S) {
    font-size: 1rem;
    line-height: 1.6;
  }
}

a {
  color: $color-1;
  text-decoration: none;
  &:hover {
    transition: all .2s;
    transform: scale(2);
    color: $color-1;
    animation: neonGlow 2s infinite alternate $easeInOutQuad;
  }
  
  @keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255,110,199,.8),
                 0 0 20px rgba(255,110,199,.8),
                 0 0 22px  rgba(255,110,199,.8),
                 0 0 40px  rgba(255,225,244,.8),
                 0 0 60px  rgba(255,225,244,.8),
                 0 0 80px  rgba(255,225,244,.5),
                 0 0 100px rgba(255,225,244,.5),
                 0 0 140px rgba(255,225,244,.5),
                 0 0 200px rgba(255,225,244,.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255,110,199,.8),
                 0 0 8px rgba(255,110,199,.8),
                 0 0 10px rgba(255,110,199,.8),
                 0 0 20px rgba(255,225,244,.8),
                 0 0 30px rgba(255,225,244,.8),
                 0 0 40px rgba(255,225,244,.8),
                 0 0 50px rgba(255,225,244,.5),
                 0 0 80px rgba(255,225,244,.5);
        }
    }
}
