// media breakpoints
$small-screen: 375px;
$medium-screen: 768px;
$large-screen: 992px;

// fonts
$primary-font: 'Verdana', sans-serif;
$secondary-font: 'Orbitron', sans-serif;
$secondary-header-font: 'Yellowtail', serif;